*{
    padding : 0;
    margin : 0;
    font-family: sans-serif;
}
body{
    background-image: linear-gradient(to bottom, #111 30%, #222 100%);
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
body::after{
    content:"";
    width:100%;
    height:100%;
    background-color:rgb(255, 0, 0);
    position: absolute;
    clip-path: circle(40% at 100% 70%);
    z-index: -1;
}
div.container{
    background-color: rgba(255, 255, 255, 0.1);
    width: 80%;
    height: 80%;
    border-radius: 20px;
    overflow:hidden;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
    margin: auto;
    padding:20px 0;
}

nav .logo{
    color:white;
    text-decoration: none;
    font-size:30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}
nav ul{
    list-style:none;
    width:300px;
    display: flex;
    justify-content: space-between;

}
nav ul li a{
    color:white;
    text-decoration:none;
    text-transform:capitalize;
    font-size: 20px;
    font-weight:700;
    
}
nav ul li a:hover , nav .logo:hover{
    color:rgb(232, 65, 65);
}
div.content{
    height: 100%;
    width: 80%;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items:center;

}

div.content div.text{
    color: white;
    width: 40%;
}
div.content div.text h2{
    font-size:40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
div.content div.text p{
    font-size:18px;
    line-height: 25px;
    margin: 10px;
    letter-spacing: 1px;
}
div.content div{
    width: 40%;
}

div.content div.image img{
    width: 400px;
}

@media (max-width:1150px) and (min-width: 950px){
    div.content div.image img{
        scale : 0.7;
    }
}

@media (max-width:950px){
    div.content{
        flex-direction: column;
        justify-content: center;
        gap:15px; 
    }
   
    div.content div.text, div.content div.image{
        width: 80%;


        
    }
    body::after{
    clip-path: circle(40% at 50% 100%);

    }
}
@media (max-width:680px) {
    nav{
        display:flex;
        flex-direction: column;
    } 

    div.content div.image img{
        width: 100%;
    }
}