*{
    box-sizing:border-box;
}
body{
    width:100%;
    height:100vh;
    background-image: linear-gradient(to right top,lightblue, lightgreen);
    display:grid;
    font-family:monospace;
    color:darkcyan;
    text-transform: capitalize;
}
.container {
    max-width: 470px;
    width:90%;
    height:auto;
    place-self: center;
    background-color: rgba(255, 255, 255, 0.27);
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px gray;
    padding:16px 0;

}
.container form{
    width:100%;
    display:flex;
    flex-direction: column;
}
.container h1{
    font-size: 32px;
    align-self: center;

}
.container div{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding:18px;
    font-weight: 600;
    
}
.container input{
    height: 36px;
    width:50%;
    /* box-shadow: inset 0px 0px 0px 2px gray; */
    border:2px solid ;
    border-top-color: rgb(196, 194, 194);
    border-left-color: rgb(196, 194, 194);
    border-right-color: white;
    border-bottom-color: white;
    background-color: rgba(255, 255, 255, 0.393);
    padding:8px;
    font-size: 16px;
    color:green;
    outline: none;
}
.container input::placeholder{
    color:rgb(175, 174, 174);
    font-family:monospace;
    font-size: 18px;
}
