*{
    box-sizing:border-box;
}
body{
    background-color: #f7f7f7;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    transform: translateY(20%);

}
.container{
    background-color: white;
    max-width: 600px;
    width:90%;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgb(161, 161, 161);
    padding:18px;
}
.container h1{
    text-transform:capitalize;
    font-size: 36px;
    margin-top: 0;
}
.container p#first-message{
    font-weight: 600;
    margin-top: 0;

}
.container #date {
    width:90%;
    max-width: 325px;
    padding:8px;
    border-radius: 6px;
    border: solid 1px rgb(190, 190, 190);
}

.container #cal-age-btn{
    text-transform: capitalize;
    background-color: #007bff;
    padding:12px 24px;
    border-width: 0px;
    border-radius: 6px;
    margin-top: 10px;
    color:white;
    cursor:pointer;

}

.container #cal-age-btn:hover {
    background-color: #005dc0;
}

.container #final-message{
    font-weight: 600;
    font-size:24px;
}

